<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066691596301-hmj7n62nrjvec8lr76qpgv9tbt2plc71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066691596301-hmj7n62nrjvec8lr76qpgv9tbt2plc71</string>
	<key>API_KEY</key>
	<string>AIzaSyDD0N_mQ1N6_wQXkHxsj3XaQvknLFXLRWE</string>
	<key>GCM_SENDER_ID</key>
	<string>1066691596301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.djminddgap.afrofit</string>
	<key>PROJECT_ID</key>
	<string>afrofit-app</string>
	<key>STORAGE_BUCKET</key>
	<string>afrofit-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066691596301:ios:046dbc303a41d6612b8544</string>
</dict>
</plist>